.btn-form {
  background-color: #17D9B1;
  color: #212121;
  width: 128px;
  height: 35px;
  padding: 8px 16x;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 400;
}

.btn-form:hover {
  opacity: 0.8;
  cursor: pointer;
}